.indicadores {
    /* Indicadores */
    left: 20px;
    position: relative;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 100px;

    .items {
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 34px;
        margin-bottom: 25px;
    }

    .fondo {
        /* background */

        position: relative;
        width: 290px;
        height: 90px;

        background: #FFFFFF;
        border-radius: 15px;

        .text {
            /* Temperatura */

            position: relative;
            margin: 15px;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            /* identical to box height */

            color: #8E8EA1;


        }

        .check{
            position: absolute;
            margin-left: 13px;
            p {

                position: absolute;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                /* identical to box height */

                color: #000000;
                left: 18px;
                margin-top: -17px;
            }
        }

        .alert1 {
            position: absolute;
            margin-left: 60px;
            p {

                position: absolute;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                /* identical to box height */

                color: #000000;
                left: 20px;
                bottom: -13px;
            }
        }

        .alert2 {
            position: absolute;
            margin-left: 105px;
            p {

                position: absolute;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                /* identical to box height */

                color: #000000;
                left: 18px;
                margin-top: -17px;
            }
            
        }

        .icon {
            /* Icon */
            position: absolute;
            width: 60px;
            height: 60px;
            margin-left: 170px;
            bottom:20px;
        }

    }

}