.menu {
    /* Menu */

    position: absolute;
    width: 215px;
    height: 27px;
    left: 1157px;
    top: 60px;
}

.nickname {
    /* Juan Rojas */

    position: absolute;
    width: 101px;
    height: 27px;
    left: 1271px;
    top: 60px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    
    /* identical to box height */
    text-align: right;

    color: #000000;
}