<div class="items">
    <div class="OK card">
        <div class="text">
            <p>Lecturas OK</p>
            <h2>1.234</h2>
        </div>
    </div>
</div>

<div class="items">
    <div class="OK card">
        <div class="text">
            <p>Lecturas OK</p>
            <h2>1.234</h2>
        </div>
    </div>
</div>

<div class="items">
    <div class="OK card">
        <div class="text">
            <p>Lecturas OK</p>
            <h2>1.234</h2>
        </div>
    </div>
</div>
<div class="items">
    <div class="OK card">
        <div class="text">
            <p>Lecturas OK</p>
            <h2>1.234</h2>
        </div>
    </div>
</div>