.top {
    /* Top */

    position: absolute;
    width: 1272px;
    height: 45px;
    left: 110px;
    top: 50px;

    .title {
        /* Monitoreo global */

        position: absolute;
        height: 45px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;

        color: #000000;


    }

    .menu {
        /* Menu */
        float: right;
        width: 221px;
        height: 27px;
        top: 59px;

        .nickname {
            /* Juan Rojas */
            width: 101px;
            height: 27px;
            left: 1281px;
            top: 59px;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            /* identical to box height */
            text-align: right;

            color: #000000;

        }
    }



}