.modal_body {
    /* Fondo */
    position: relative;
    z-index: 3;
    width: 720px;
    height: 360px;

    background: #FFFFFF;
    border-radius: 15px;

    .crearPlantaTexto {
        /* Crear nueva planta */

        position: absolute;
        margin-top: 15px;
        margin-left: 20px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        color: #000000;


    }

    .nombrePlanta {
        /* Nombre planta */

        position: absolute;
        margin-top: 50px;
        margin-left: 20px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #838B9E;

    }

    .nombrePlantaInput {
        /* Container */

        box-sizing: border-box;

        position: absolute;
        width: 320px;
        height: 42px;
        margin-top: 75px;
        margin-left: 20px;

        background: #FFFFFF;
        border: 0.929116px solid #C6C9D2;
        border-radius: 7.43293px;

        /* Ingrese nombre */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #BABEC5;




    }

    .lecturas {
        /* Nombre planta */

        position: absolute;
        margin-left: -359px;
        margin-top: 130px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #838B9E;

    }

    .lecturasInput {
        /* Container */

        box-sizing: border-box;

        position: absolute;
        width: 320px;
        height: 42px;
        margin-left: -359px;
        margin-top: 160px;

        background: #FFFFFF;
        border: 0.929116px solid #C6C9D2;
        border-radius: 7.43293px;

        /* Ingrese nombre */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #BABEC5;




    }

    .alertasMedias {
        /* Nombre planta */

        position: absolute;
        margin-left: -359px;
        margin-top: 210px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #838B9E;

    }

    .alertasMediasInput {
        /* Container */

        box-sizing: border-box;

        position: absolute;
        width: 320px;
        height: 42px;
        margin-left: -359px;
        margin-top: 240px;

        background: #FFFFFF;
        border: 0.929116px solid #C6C9D2;
        border-radius: 7.43293px;

        /* Ingrese nombre */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #BABEC5;




    }

    .alertasRojas {
        /* Nombre planta */

        position: absolute;
        margin-left: -30px;
        margin-top: 130px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #838B9E;

    }

    .alertasRojasInput {
        /* Container */

        box-sizing: border-box;

        position: absolute;
        margin-top: 160px;
        margin-left: -25px;
        width: 320px;
        height: 42px;

        background: #FFFFFF;
        border: 0.929116px solid #C6C9D2;
        border-radius: 7.43293px;

        /* Ingrese nombre */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #BABEC5;




    }

    .pais {
        /* País */

        position: relative;
        margin-top: 50px;
        margin-left: 350px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #838B9E;


    }

    .paisInput {
        /* Container */

        box-sizing: border-box;

        position: absolute;
        width: 320px;
        height: 42px;
        margin-top: 75px;
        margin-left: -25px;

        background: #FFFFFF;
        border: 0.929116px solid #C6C9D2;
        border-radius: 7.43293px;

        /* Seleccione país */

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #BABEC5;



    }

    .cancelar {
        /* Fondo */

        position: absolute;
        width: 100px;
        height: 36px;
        margin-left: 240px;
        margin-top: 230px;

        border: 1px solid #33A3AA;
        border-radius: 5px;

        /* Cancelar */

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        text-align: center;

        color: #33A3AA;



    }

    .crear {
        /* Fondo */

        position: absolute;
        width: 100px;
        height: 36px;
        margin-left: 350px;
        margin-top: 230px;

        background: #33A3AA;
        border-radius: 5px;
        border: none;

        /* Crear */

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        text-align: center;

        color: #FFFFFF;



    }

}