<div class="modalCrear">
    <div class="modal_body">
        <h3 class="crearPlantaTexto">Crear nueva planta</h3>

        <form action="">
            <label for="nombrePlanta" class="nombrePlanta">Nombre planta</label>
            <input type="text" placeholder="Ingrese nombre" id="nombrePlanta" class="nombrePlantaInput">

            <label for="país" class="pais">País</label>
            <input type="text" placeholder="Seleccione país" id="pais" class="paisInput">
        </form>

        <button class="cancelar" (click)="closeModal()">Cancelar</button>
        <button class="crear" type="submit">Crear</button>
    </div>
</div>